# css build artifact
/static/scss/.sass-cache

# debug logging
/debug

# figure files are maintained in dropbox and only copied to this folder for runtime access
/figure

# The XML files in "p5" are copies/derivatives of TEI files which are maintained elsewhere
/p5/
!/p5/README.txt

# Backup files automatically created by JEdit text editor
/**/*.*~


xslt/tmp.xsl
/.idea
